* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 5px 10px;
}

.search-input {
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
}

.search-input::placeholder {
    color: #aaa;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    font-size: 20px;
    color: #007bff;
}

.search-button:hover .search-icon {
    color: #0056b3;
}

.search-icon {
    font-size: 20px;
}
